.CurrencyExchangeForm {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  width: 30vw;
  height: 25vh;
  border-image: linear-gradient(to right, #b861c6 0%, rgb(48, 48, 201) 100%);
  border-image-slice: 1;
  border-style: solid;
  border-width: 3px;
  min-width: 350px;

  .CurrencyExchangeFormBody {
    flex: 1 1 auto;
    padding: 15px 15px 0 15px;
    width: 90%;

    .CurrencyExchangeFormBodyFieldTo {
      background-color: rgba(211, 211, 211, 0.212);
      padding-top: 5px;
    }

    .CurrencyExchangeFormBodyFieldFrom {
      padding-bottom: 5px;
    }

    .Icons {
      padding: 5px 0 5px 0;
      height: 30px;
      background: linear-gradient(
        to bottom,
        white 50%,
        rgba(211, 211, 211, 0.212) 50%
      );
      display: flex;
      flex-direction: row;
      justify-content: flex-start;
      align-items: center;
      .ExchangeIcon {
        color: rgb(48, 48, 201);
      }
      .Swap {
        flex: 1 1 auto;
        max-width: 20px;
        align-self: flex-start;
        border-radius: 50%;
        border: 1px solid darkgray;
        background-color: white;
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 2px;
        &:hover {
          cursor: pointer;
        }
      }

      .ExchangeRate {
        flex: 1 1 40%;
        align-self: center;
        max-width: 125px;
        border-radius: 20px;
        border: 1px solid darkgray;
        background-color: white;
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: small;
        margin-left: 15%;
      }
    }
  }

  .CurrencyExchangeFormFooter {
    flex: 1 1 auto;
    padding: 15px;
  }
}
